@use "components/header";
@use "components/leap-calculator";
@use "components/guess-number";
@use "components/roshambo";
@use "components/calс.scss";
@use "components/time-calculator";
@use "components/dino-game";
@use "components/football";
@use "components/max-number";
@use "components/team";
@use "components/scientists";
@use "components/footer";
@use "components/modal";

@use "utils/mixin" as *;
@use "utils/variables" as *;

.container {
  max-width: 1090px;
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  background-color: $secondary-color;
}

body {
  font-family: Montserrat Alternates;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.main {
  background-image: url(/img/bg-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
}

.title {
  @include title(24px);
  text-align: center;
  margin-top: 36px;
  margin-bottom: 37px;
}

.input-action {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__input {
    @include input;
    @include text;
    width: 215px;
  }

  &__btn {
    width: 35px;
    height: 35px;
    background-color: $primary-color;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    border: none;
  }

  &__form {
    display: flex;
    position: relative;
  }

  &__result {
    @include text;
    margin: 0;
  }

  &--center {
    justify-content: center;
    gap: 33px;
    flex-wrap: wrap;
  }

  &__input--narrow {
    width: 150px;
  }

  &__input--time {
    width: 150px;
  }
}

.decor-line {
  max-width: 536px;
  width: 95%;
  height: 1px;
  background-color: $primary-color;
  margin: 0 auto;
}

@media (max-width: 490px) {
  .input-action {
    flex-direction: column;
    gap: 35px;
  }
}
