@use "../utils/mixin" as *;
@use "../utils/variables" as *;

.roshambo {
  padding: 36px 0;
  position: relative;

  &__title {
    @include title;
  }

  &__btns {
    display: flex;
    gap: 38px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__btn {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: $primary-color;
  }

  &__result {
    @include text;
    text-align: center;
    margin: 39px 0 37px 0;
  }

  &__btn-action {
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: $primary-color;
    @include text(12px, $secondary-color);
  }

  &__calc {
    @include text;
    line-height: 170%;
    position: absolute;
    right: 125px;
    top: 93px;
  }
}

@media (max-width: 768px) {
  .roshambo__calc {
    position: static;
    display: block;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }
}